body {
    background-color: #FABE5F;
}
  
header.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
}

header.contact h1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    width: 325px;
}

header.contact p {
    display: block;
    text-align: right;
}

.cristian-portrait {
    width: 350px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

section.intro {
    display: block;
    height: auto;
    width: auto;
    text-align: justify;
}

section.professional {
    display: block;
    color: #5FFA98;
}

section.academics {
    display: block;
    color: #FA935F;
}

section.projects {
    display: block;
}

section.personal {
    display: block;
    color: #5FFAF0;
}

section.personal h2 {
  text-align: left;
}

section.interests {
    display: block;
    color: #76A5A2;
}

.picture {
    max-width: 100%;
    width: 38%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}

#Professional h1 {
    text-align: center;
}

.pennlogo {
    width: 10%;
}

.contact {
    text-align: center;
}

.experience {
    display: block;
}

.activities {
    display: flex;
}

#soccerTeam {
    text-align: left;
}

.barcelona {
    width: 10%;
}

.penn {
    width: 5%;
}

.kipp {
    width: 100px;
    height: 100px;
}

.deloitte {
    width: 30%;
}

.robin-hood {
    width: 30%;
}

#logos {
    text-align: justified;
}

@media (max-width: 780px) {
    .cristian-portrait {
        width: 300px;
        height: auto;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .cristian-portrait {
        width: 200px;
        height: auto;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
}
