body {
    background-color: black;
    color: whitesmoke;
}
  
header h1 {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    text-align: left;
    display: inline-block;
}

p.contact {
    display: inline-block;
    padding: 25px;
    text-align: right;
    padding: 0px 0px 0px 700px;
}

.cristian-portrait {
    width: 350px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

section.intro {
    display: block;
    height: auto;
    width: auto;
    text-align: justify;
}

section.professional {
    display: block;
}

section.academics {
    display: block;
}

section.projects {
    display: block;
}

section.personal {
    display: block;
}

section.interests {
    display: block;
}

.personal h2 {
    text-align: center;
}

.picture {
    max-width: 100%;
    width: 38%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}

#Professional h1 {
    text-align: center;
}

.pennlogo {
    width: 10%;
}

.contact {
    text-align: center;
}

.roles {
    display: flex;
}

.row2 {
    flex: 50%;
}

.activities {
    display: flex;
}

.row1 {
    flex: 49%;
}

#soccerTeam {
    text-align: left;
}

.barcelona {
    width: 10%;
}

.penn {
    width: 5%;
}

.kipp {
    width: 100px;
    height: 100px;
}

.deloitte {
    width: 30%;
}

.robin-hood {
    width: 30%;
}

#logos {
    text-align: justified;
}